.footer {
  padding: $margin-btw-elms;
  background-color: $primary;
  span {
    color: $secondary-text-color;
  }
}
@media (max-width: 700px) {
  .footer {
    padding: 50px 20px;
    font-size: 12px;
  }
}
