.navbar {
  position: absolute !important;
  display: flex;
  width: 100%;
  background-color: transparent !important;
}

a {
  color: white;
  font-family: $headline-font;
  font-size: 18px !important;
}
.collapse {
  justify-content: end;
}
.logo {
  font-family: $headline-font;
  font-size: 40px;
}
[aria-current='page'] {
  // font-weight: bold;
  color: rgb(83, 32, 204);
}
