---
title: Nature
permalink: "portfolio/{{ title | slugify }}/index.html"
---
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Encode+Sans:wght@200;400;500&family=Quicksand:wght@300;400;700&display=swap" rel="stylesheet">

<div class="portfolio">
  <div class="gallery-container">
    <div class="headline"><a class="portfolio-link" href="/portfolio">Portfolio ></a> {{ title }}</div>
    <div class="gallery new" id="gallery">
    {% for imageSrc in nature -%}
      <figure class="gallery__item gallery__item--{{loop.index}}">
        <img src="{{ imageSrc }}" class="gallery__img" alt="Image {{loop.index}}">
      </figure>
    {% endfor -%}
    </div>
  </div>
</div>