---
title: Another page
---
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Encode+Sans:wght@200;400;500&family=Kolker+Brush&family=Shalimar&display=swap" rel="stylesheet">

<div style="padding: 150px">
  <h1>{{ title }}</h1>
</div>
