{% set currentUrl = page.url %}

<nav class="navbar navbar-expand-lg navbar-dark px-0 py-3">
  <div class="container-xl">
    <!-- Logo -->
    <a class="navbar-brand" href="/">
      <span class="text-lg logo">{{ site.authorName}}</span>
    </a>
    <!-- Navbar toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- Nav -->
      <div class="navbar-nav">
        <li>
          <a class="nav-item nav-link text-md" href="/#about">About</a>
        </li>
          {% for link in collections.pages %}
            <li [aria-current="page"]>
              <a class="nav-item nav-link text-md"
                {% if link.url in currentUrl %} aria-current="page" {% endif %}
                href="{{ link.url }}">
                  {{ link.data.title }}
              </a>
            </li>
          {%- endfor %}
      </div>
      <!-- Action -->
      <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
        <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to={{ authorEmail.email }}" target="_blank" class="btn btn-sm btn-primary w-full w-lg-auto">
          Say hi
        </a>
      </div>
    </div>
  </div>
</nav>

{% set js %}
{% include "../../js/header.js" %}
{% endset %}
<!-- feed it through our jsmin filter to minify -->
<script>
  {{ js | jsmin | safe }}
</script>