---
layout: base
title: Home
permalink: '/'
---
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Encode+Sans:wght@200;400;500&family=Kolker+Brush&family=Shalimar&display=swap" rel="stylesheet">


{# <img id="mainPhoto" #mainPhoto src="assets/images/siby1.jpg" class="d-block w-100" alt="..."> #}

<div class="my-container">
  <section id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/car-1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/car-2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/car-3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </section>

  <section class="container text-center about" id="about">
    <div class="row">
      <div class="col-7 text">
        <h2>MS</h2>
        <p>Hi, I'm Martin, a photographer who is working with a wide range of clients from fashion and commercial/advertising projects, to more intimate portraits and weddings.</p>
          <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to={{ authorEmail.email }}" target="_blank" class="btn btn-sm btn-primary w-full w-lg-auto">
            Contact me
          </a>
      </div>

      <div class="col">
<img src="assets/images/foto-11.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </section>
  <section class="photos">
  {% include "partials/gallery.njk" %}
  </section>



  <section class="instagram">
    <h2>Follow me on Instagram</h2>
    <script src="https://snapwidget.com/js/snapwidget.js"></script>
    <iframe src="https://snapwidget.com/embed/1015192" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:100%; "></iframe>
  </section>
</div>

<!-- SnapWidget -->