.my-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carousel {
  // max-width: 1200px;
  // border: 1px solid $gray-600;
  // padding: 20px;
  .carousel-inner {
    max-height: 800px;
    .carousel-item {
      img {
        width: 100vw !important;
        max-width: auto !important;
      }
    }
  }
}

.instagram {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: $margin-btw-elms;
  padding-bottom: $margin-btw-elms;
  background-color: $primary;
  h2 {
    text-align: center;
    margin-bottom: 50px;
    color: $secondary-text-color;
    font-weight: 100;
  }
  iframe {
    max-width: 1200px;
  }
}
.about {
  padding: $base-margin;
  padding-bottom: 0;
  margin-top: $margin-btw-elms;
  // background-color: $alternative-bg;
  max-width: 900px;
  img {
    max-height: 500px;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    border-radius: 5px;
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: $base-margin;
    padding-right: $base-margin;
    justify-content: space-between;
    padding-bottom: 70px;
    padding-top: 70px;
    p {
      font-size: 18px;
      line-height: 2;
      text-align: center;
    }
    .lg-display-headline {
      color: $primary;
      font-weight: 400;
    }
  }
}
.photos {
  margin: 70px;
  a {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;
    margin-bottom: 70px;
    margin-top: 70px;
  }
}
@media (min-width: 1500px) {
  .carousel {
    .carousel-inner {
      max-height: 900px;
    }
  }
}
@media (min-width: 700px) {
  .sm-display-headline {
    display: none;
  }
}
@media (max-width: 700px) {
  .photos {
    margin: 0;
    display: flex;
    flex-direction: column;
    a {
      order: 0;
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: fit-content;
      margin-top: 30px;
    }
  }
  .carousel-inner {
    max-height: 500px;
    .carousel-item {
      img {
        width: 100vw !important;
        height: 500px;
        object-fit: cover;
      }
    }
  }
  .about {
    margin-top: 30px;
    .text {
      padding: 30px;
      order: 2;
      p {
        font-size: 16px;
      }
      .lg-display-headline {
        display: none;
      }
      a {
        margin-bottom: 40px;
        margin-top: 30px;
      }
    }
    .sm-display-headline {
      color: $primary !important;
      font-weight: 400 !important;
      margin-bottom: 10px;
      display: block;
      font-size: 20px;
    }
  }
  .instagram {
    padding: 10px;
    padding-top: 50px;
    h2 {
      font-size: 20px;
    }
    iframe {
      max-width: 350px;
      height: auto !important;
    }
  }
}
