//----colors
$primary: $gray-500;
$headline-color: $gray-900;
$alternative-bg: $gray-200;
$base-bg: $gray-100;
$secondary-text-color: white;

//----fonts
// $headline-font: 'Abril Fatface', cursive;
$text-font: 'Encode Sans', sans-serif;
$headline-font: $text-font;
// $text-font: 'Viaoda Libre', cursive;

//----spacing
$base-margin: 30px;
$margin-btw-elms: 70px;
